#contact-section{
  width: 100%;
  position: relative;
  padding-top: 15em;

  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-style: solid;
    border-width: 34px;
    border-image-source: linear-gradient(328deg, #a445b2, #ff0066);
    box-sizing: border-box;
    border-right-width: 0;
    border-image-slice: 1;
  }

  .section-cover{
    width: 100%;
    position: relative;
  }

  .section-img{
    z-index: 1;
    background-image: url('../img/about-pic.jpg');
    width: 100%;
    height: 20em;
    background-size: cover;
    border-radius: 3px;
    img{
      width: 100%;
    }
  }


  .section-info{
    z-index: 2;
    position: relative;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 8em 15% 4em 15%;


    h1{
      position: absolute;
      z-index: 3;
      left: -0.4em;
      top: -0.600em;
      display: inline-block;
      color: #ffffff;
      text-shadow: 0 15px 45px rgba(85, 102, 187, 0.4), 0 5px 15px rgba(79, 105, 190, 0.2);
    }

    p{
      line-height: 2.25;
    }
  }



      #contact-list{
        position: relative;
        box-sizing: border-box;
        padding-bottom: 5em;

        a{
          display: inline-block;
          margin-left: 2em;
        }

        h2{
          color: #fe0065;
          display: none;
        }
        img{
          display: inline-block;
          width: 1.8em;
        }
      }


  @media screen and (min-width: 480px) {
    .container{
    width: 80%;
    max-width: 500px;
  }
  }
  @media screen and (min-width: 1024px) {
    .container{
    width: 70%;
    max-width: 1440px;
  }
  .section-img{
    width: 75%;
    max-width: 40em;
    height: 28em;
    display: inline-block;
    img{
      width: 100%;
    }
  }
  .section-info{
  padding: 3em 3em;
  width: 65%;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 40%;
}
  }


}
